body{
    font-family: arial;

}

.form_div{
    max-width: 500px;
    max-height: 700px;
    align-self: center;
    align-self: center;
    margin-top: 20px;
    margin-left:100px;
    margin-right:100px;
    box-shadow:gray 0 10px 11px;
    margin-bottom: 6%;


}
.add_frm{

    align-self: center;
    background: #ffffff;


}
label{
    padding: 5px 20px;
    float:left;
    margin-left: 60px;
    color: #008080;
    font-weight: bold;

}
p{

    margin-bottom: 5px;
    margin-left:600px;
    max-width: 190px;
    margin-top: 2px;
    text-align: right;
    font-weight: bold;
}
.button{
    background-color:#008080;
    width:200px;
    height:30px;
    display:block;
    margin:30px 0px 0px 30px;
    text-align:center;
    border:1px solid #008080;
    border-radius:5px;
    outline:none;
    color:white;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    float:left;
    margin-right:100px;
}
.button:hover{
    background-color:#191967;
}
h1{
    color:#808080;
}