/** service table **/
#service_table{
    position:absolute;
    top:60%;
    width:100%;
    left:1%;
    font-size:93%;
}
.form_container_service{
    padding:20%;
    border:5px;
    align-content: center;
    width:60%;

}
#select_service{
    height:4rem;
    width: 40%;
    font-size: 12px;
}
#select_status{
    height:4rem;
    width: 40%;
    font-size: 12px;
}
#description2{
    height:4rem;
    width: 40%;
    font-size: 12px;
    border-color: #099ac7;
}
#description3{
    height:4rem;
    width: 40%;
    font-size: 12px;
}
#description4{
    height:4rem;
    width: 40%;
    font-size: 12px;
}
#ser_add_btn{
    background-color:#008080;
    width:40%;
}
.ser_header{
    color:black;
    top:10%;
}
#cre_add_btn{
    background-color: #22ffff;
    color: white;

}
#cre-header{
    margin-top: 8px;
    color:black;

}


/*********** Items page **********/

.item-table-container{
    padding:25%;
    border:5px;
    align-content: center;
    width:60%;
}
#Item_table{
    width:40%;
    position: absolute;
    left:40%;
    top:20%;

}
#item_header{
    padding:6px;
    color:black;
    width:45%;
    position: absolute;
    top:10%;
    left:20%;
}
#item_form_header{
    padding:6px;
    color:black;
    width:45%;
    position: absolute;
    top:38%;
    left:20%;
}
/*********** Items page form **********/
#Item_add_form{
    position: absolute;
    top:44%;
    left:20%;
}
#add_item{
    width:100%;
    padding-top:4%;
    font-size:12px;
}

/*****summery content******/

.summery_content{
    position:absolute;
    background-color: #f8f7f7;
    border-radius:3px;
    width:20%;
    top:25%;
    left:60%;
    height:30%;
    color:black;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5),-2px -2px 4px rgba(128 ,120,64,0.5);

}
.inter-content{
    text-align:center;
    position:center;
    padding-top:5px;
    font-family:Arial;
}
/*****summery content end ******/


/*** assignEmp jsp style****/
.form-box-assignEmp{
    padding:25%;
    border:5px;
    align-content: center;
    width:90%;
}
.form-assign{
    position:absolute;
    background-color: #f8f7f7;
    border-radius:4px;
    width:60%;
    top:25%;
    left:30%;
    height:30%;
    color:black;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5),-2px -2px 4px rgba(128 ,120,64,0.5);
}
#form_emp{
    width:40%;
    position:absolute;
    top:10%;
    left:30%;
    height:50%;
    font-size:11px;
}
#assign_btn{
    margin-top:5px;
    background-color:#008080;
    width:50%;
    font-size:11px;
}

/*** assignEmp jsp style end****/


/*** create new service jsp style start****/
.createS-form-box{
    padding:28%;
    border:5px;
    align-content:center;
    width:90%;

}
.form-contenter{
    position:absolute;
    text-align:center;
    top:20%;
    width:40%;
    height:60%;
    left:40%;
    padding-top:12px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5),-2px -2px 4px rgba(128 ,120,64,0.5);
    border-radius:4px;

}
#Ser_type{
    height:3.8rem;
    width:80%;
    font-size:12px;
    border-color: #099ac7;
}
#estimateA{
    height:3.8rem;
    width:80%;
    font-size:12px;
    border-color: #099ac7;
}
#Description{
    height:3.8rem;
    width:80%;
    font-size:12px;
    border-color: #099ac7;
}
/******Update Service*******/
#update_status{
    width:60%;
    height:3.8rem;
    font-size: 12px;
    position:relative;
    border-color:cornflowerblue;
    left:10%;
}
/*****estimate report*****/
#estimate_btn{
    position:absolute;
    top:55%;
    left:78%
}
.estimate-box{
    position: relative;
    padding:18%;
    top:-12%;
}
#estimate_total_btn{
    height:10%;
    border-radius: 12px;
}
#servie_total_btn{
    height:10%;
    border-radius: 12px;
}
.btn-container{
    width:200%;

}
.btn-container form{
    display:inline;
}
#s01{
    background-color: #067579;
    width:20%;
    height:50%;
    border-radius:8px;
    font-size:12px;

}
#s01:hover{
    background-color: #88b2fc;
    color: #032a3b;
}
.header_container{
    position:absolute;
    top:17%;
    color:black;

}
.header_container h1{
    font-size:28px;
}

    /*** update form css***/
.update-form{
    height:130%;
    width:100%;
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    top:0px;
    transition-delay:4s;
}
.modal_container{
    width:400px;
    height:400px;
    background-color:white;
    text-align:center;
    border-radius:6px;

}
.modal_container h1{
    font-family:monospace;
    font-size:20px;
    padding-top:5px;
    color:black;
    font-weight:300;
}
.modal_container i{
    font-size:30px;
}
.status_select{
    padding:23px;
    width:70%;
    height:50px;
    font-size:15px;
    align-items:center;
    border-color:black;
    text-align:center;
}
.Udesc{
    padding:23px;
    width:70%;
    height:50px;
    font-size:15px;
    border-color:black;

}
.updateBtn{
    padding:23px;
    width:70%;
    height:50px;
    font-size:25px;
}
/*** update form css end***/

/**** Add component styles*****/
.add_component_form{
    position:absolute;
    padding:12%;
    background-color:lightseagreen;
    margin:34%;

}
.page_container{
    position:relative;
    padding:12%;
}
.addItems_form-contenter{
    position:absolute;
    text-align:center;
    top:20%;
    width:40%;
    height:40%;
    left:20%;
    padding-top:12px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5),-2px -2px 4px rgba(128 ,120,64,0.5);
    border-radius:4px;

}
.addItems_form-contenter select{
    padding:8px;
    width:50%;
    margin:5px;
    height:30px;
    font-size:12px;
    align-items:center;
    border-color:black;
    text-align:center;
}
.addItems_form-contenter input{
    padding:11px;
    width:50%;
    height:30px;
    margin:6px;
    font-size:16px;
    align-items:center;
    border-color:black;
    text-align:center;
}
.form_container_component table{
    position:absolute;
    width:20%;
    left:60%;
    top:10%;
}
.header_container_repair h1{
    color:black;
    font-size:200%;
    position:absolute;
    top:12%;
    left:20%;
}
/*****estimate update form ****/
.update-form-estimate{
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    top:0px;
    left:0;

}
.p_container{
    position:absolute;
    left:35%;
    top:67%;
    width:30%;
    height:20%;
}
.table_estimate{
    width:50%;
    position:absolute;
    height:20%;
    left:35%;
    top:30%;
}